

.modal-background {
  text-align: center;
  background-color: rgba(249,249,249,0.9);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-child {
  display: flex;
  position: absolute;
  justify-content: center;
  background: #fff;
  outline: none;
  border: 1px solid #1a1a1a;
  max-width: 620px;
  max-height: 95%;
  padding: 100px 80px;
  box-sizing: border-box;
  box-shadow: 0 0 18px rgba(0,0,0,0.4);
  overflow-y: scroll;
}

@media only screen and (min-width: 800px) {
  .modal-child {
    min-width: 610px;
    min-height: 430px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}

.headerMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 25px;

}

.headerMenu h3 {
  cursor: pointer;
}

.mainTitle {
  font-size: 25px;
  font-weight: 550;
  text-align: center;
  flex: 1 0 auto;
  letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 175px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
  color: #1a1a1a;
  width: 50%
}


/* AUTH MODAL */

.signupPrompt {
  font-weight: bold;
    font-size: 14px;
}

.switch-signups {
  cursor: pointer;
  text-decoration: underline;
}

.signin-form-container{
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-error {
  color: #c40d0d;
  list-style: none;
}

.signin-input {
  width: 100%;
  flex: 1;
  margin: 0;
  font-weight: normal;
  color: #000;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 1.5px;
  box-shadow: none;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 38px;
  font-size: 14px;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 29px;
  border: 1px solid #1a1a1a;
  outline: 0;
}

.black {
  background-color: #1a1a1a;
  color: #fff;
}

.white {
  color: #1a1a1a;
  background-color: #fff;
  line-height: 38px;
}

.dummy {
  color: #fff;
  background-color: #a142f4;
}


.logoutButton {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.auth-or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c3c3c3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 80%;
}

.sell-button {
  display: inline-block;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 12px;
  width: auto;
  height: auto;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px;
}

.search-input {
  font-size: 14px;
  line-height: 25px;
  padding-left: 25px;
  flex: 1 1 auto;
  width: 200px;
  background-color: transparent;
  color: #000000;
  margin: 0;
  border: 0;
  outline: 0;
  min-width: 150px;
}
