.index-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0;
  height: 100%
}

.index {
  padding: 27px 27px 0;
  width: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listing-link {
  text-decoration: none;
  color: #000;
}

.index-listing {
  max-width: 209px;
  margin-right: 18px;
  position: relative;
  margin-bottom: 40px;
}

.listing-index-image {
  max-width: 209px;
  max-height: 279px;
  min-height: 279px;
}

.feed-title {
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}
