.index-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0;
  height: 100%
}

.index {
  padding: 27px 27px 0;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.listing-link {
  text-decoration: none;
  color: #000;
}

.index-listing {
  max-width: 209px;
  margin-right: 18px;
  position: relative;
  margin-bottom: 40px;
}

.listing-index-image {
  max-width: 100%;
  max-height: 279px;
  min-height: 279px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.feed-title {
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.listing-item-top-row {
  padding: 1px 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}

.listing-item-brand {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
  width: 70%;
  white-space: nowrap;
}

.listing-item-title {
  font-size: 12px;
  font-weight: 400;
  text-align: inherit;
  text-transform: capitalize;
  margin-left: 8px;

}

.listing-item-price {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 8px;
  margin-left: 8px;
}
