.show-container {
  display: flex;
  margin-right: 200px;
  margin-top: 75px;
  margin-bottom: 100px;
}

.listing-brand {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.listing {
  width: 100%;
}

.listing-image {
  width: 700px;
  max-height: 100%;
}

.listing-info-box {
  width: 340px;
  flex: 4;
  word-wrap: break-word;
}

.listing-image-box {
  width: 700px;
  height: auto;
  margin-right: 0;
  box-sizing: border-box;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}

.description-title {
  letter-spacing: 1.25px;
  color: #666;
  margin-bottom: 1.6rem;
}

.email-pic {
  width: 34px;
}

.description {
  margin-bottom: 20px;
}

.seller-box {
  border-top: 1px solid #e1e1e1;
  margin-bottom: 60px;
  padding-top: 30px;
}


.user-show-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  display: block;
  margin-bottom: 10px;
}

.user-item-count {
  font-size: 14px;
  line-height: 8px;
  margin-bottom: 10px;
}
