.show-container {
  display: flex;
  margin-right: 200px;
}

.listing-brand {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.listing {
  width: 100%;
}

.listing-image {
  width: auto;
  max-width: 100%;
  height: 700px;
}

.listing-info-box {
  width: 35%;
  flex: 4;
  word-wrap: break-word;
}

.listing-image-box {
  width: 60%;
  height: auto;
  margin-right: 0;
  box-sizing: border-box;
  position: relative;
  margin-left: 100px;
}

.description-title {
  letter-spacing: 1.25px;
  color: #666;
  margin-bottom: 1.6rem;
}

.email-pic {
  width: 34px;
}

.seller-box {
  border-top: 1px solid #e1e1e1;
}
